@using EduHome.UI.Areas.EduHomeAdmin.ViewModels.NoticeViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model NoticePostVM
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create slider</h4>
        <form method="post" class="app-search d-none d-lg-block">
            <div class="mb-3 row">
                <label asp-for="Date" for="example-text-input" class="col-md-2 col-form-label">Date</label>
                <div class="col-md-10">
                    <input asp-for="Date" class="form-control" type="text">
                    <span class="text-danger" asp-validation-for="Date"></span>

                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Description" for="example-text-input" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" type="text">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Create</button>
            </div>
        </form>
    </div>
</div>

