@using EduHome.UI.Areas.EduHomeAdmin.ViewModels.TestimonialViewModels;
@model TestimonialPostVM
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 style="color:cornflowerblue">Create Blog</h3>
                <form method="post" enctype="multipart/form-data">
                    @*default orarag get dir*@
                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Surname" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Surname" />
                            <span class="text-danger" asp-validation-for="Surname"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Position" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Position" />
                            <span class="text-danger" asp-validation-for="Position"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Description" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="Description" />
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="ImagePath" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input class="form-control" asp-for="ImagePath" />
                            <span class="text-danger" asp-validation-for="ImagePath"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                        <a asp-area="EduHomeAdmin" asp-controller="Testimonial" asp-action="Index" class="btn btn-light ">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>

